.settings{
    display: flex;
    border-collapse: collapse;
    justify-content: center;
    vertical-align: center;
}
.input, .strip{
    text-align: center;
    position: relative;
    margin: 5px 0;
    padding: 6px;
}
.button{
    text-align: center;
    position: relative;
    margin: 5px 0;
}
