.settings{
    display: flex;
    width: 90%;
    height: 120px;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    justify-content: center;
    vertical-align: center;
}
.button, .input, .strip{
    width: 33%;
    text-align: center;
    position: relative;
    top:20%;
}
