

.DeckBorder{
    border: black 1px solid;
    width: 90%;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.Table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.Table tr th  {
    width: 33%;
}

.cells {
    text-align: center;
}
.cells td {
    color: white;
}

.updateCard {
    background-image: url(./../../common/img/updateBackgroundImg.jpg);
    opacity: 0.7;
    width: 100%;
    height: 96vh;
    position: absolute;



}
.fieldOfUpdate {
    border: black 3px solid;
    background-color: skyblue;
    background-image: url(./../../common/img/headerUpdateField.jpg);
    width: 40%;
    text-align: center;
    display: grid;
    grid-auto-columns: auto;
    margin: 0 30% ;
}





