
.profileWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.profilePart {
    width: 25%;
    min-width: 300px;
    min-height: 95.8vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

.profilePart img {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    position: center;
}

.appPart {
    width: 75%;
    min-height: 95.8vh;
    display: flex;

    justify-content: flex-end;
    align-items: stretch;
    background-color: black;
    background-image: url("./../../common/img/backImgOfProfile.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 40px;
}

.deckCover {
    background-image: url(./../../common/img/CardOfDeck1.png);
    background-repeat: no-repeat;
    width: 258px;
    height: 365px;
    margin-left: 10px;

}

.decksName {
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    width: 97%;
    height: 290px;

}
.decksWrapper {

    width: 100%;
    height: 90%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 32%;
}

.paginationButtons {
    height: 40px;
}

.buttonsOfSettings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.updateCard {
    background-image: url(./../../common/img/updateBackgroundImg.jpg);
    opacity: 0.9;
    width: 100%;
    min-height: 96vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.fieldOfUpdate {

    background-image: url(./../../common/img/headerUpdateField.jpg);
    width: 40%;
    text-align: center;
    display: grid;
    grid-auto-columns: auto;
    margin: 0 30% ;
}
.inputAddDeck {
    width: 100px;
    height: 20px;
}
.addNewDeckField {
    width: 100%;
    height: 30px;
    margin-left: 10px;
    margin-top: -6px;
}
