
.wrapperOfAuth {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 95.8vh;
    background-size: 100%;
    background-image: url(../common/img/backgroundOfAuth.jpg);
    width: 100%;
}




