
.wrapperOfAuth {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 95.8vh;
    background: url(https://i.stack.imgur.com/q02th.jpg) ;
    background-size: 100%;
    width: 100%;

}

